.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #191970;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;
}

.about-me-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.about-me-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.about-me-content {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
}
