.contact-container {
    width: 90%;
    margin: 250px auto;
    padding: 40px;
    background-color: #09092e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 5);
  }
  
  .contact-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #09092e;
    text-decoration: underline;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  }
  
  textarea {
    resize: vertical;
    min-height: 120px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1900ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #09092e;
  }
  
  .form-group label,
  .form-group input,
  .form-group textarea {
    display: block;
    width: 300%;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    background-color: #1900ff;
  }
  
  textarea {
    resize: vertical;
    text-align: center; 
  }

  input {
    text-align: center; 
  }


  