
header {
  background-color: #09092e;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width:100%;
  max-width: 1200px;
  position: sticky;
  top: 0; 
  z-index: 999;
  margin: 0 auto;
  position: relative;
  left: -20px;
  border-radius: 0px;
}

h1 {
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
}



/* Navigation Styling */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 10px;
}

/* Button styling */
.nav-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  margin: 0 25px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease, box-shadow 0.3s ease;
}

.nav-button:hover {
  background-color: #191970;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button.active {
  background-color: #191970;
  color: #fff;
}

.nav-button {
  text-decoration: none;
}

/* Social Media Styling */

.social-media-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-media-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 20px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  font-size: 20px;
  transition: background-color 0.3s ease;
  
}

.social-media-button:hover {
  background-color: #191970;
}